# dependencies
node_modules/

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Build
build/
dist/
coverage/

# Cache
.eslintcache
.history/