* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

label{
  font-size: 20px;
}

.container{
  background-color: #fff;
  padding:32px 48px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 8px 8px 24px rgb(91, 84, 84);
  border-radius: 15px;
}

.container >h1{
  margin-bottom: 30px;
}
.container > form{
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  gap:20px;
}

.container div{
display: flex;
flex-direction: column;
gap: 5px;
}

.container input{
  padding: 20px;
  width:100%;
  border: none;
  height: 20px;
  font-size: 20px;
  outline: none;
  border-bottom: 1px black solid;
}
.container input:focus{
  border-bottom: 3px solid  rgb(139, 0, 139);
}

.container input::placeholder{
  font-size:15px;
  font-style: italic;
}

button{
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  width:150px;
  transition: background-color 0.2s;
  background-color: darkmagenta;
  color:white;
  border: none;
}
button:active{
  background-color: rgb(199, 3, 199);
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  text-align: center;
}